.heading
{
    text-align: center;
}
.menu
{
    display: flex;
    font-size: larger;
    background-color: orange;
    height:35px;
    width:100%;
}
a
{
    color:white;
    margin-left: 150px;
    padding-top: 5px;
    cursor: pointer;
}
.best{
    margin-top: -20px;
    background:url("../images/showroom.jpg");
    height: 270px;
    background-repeat: no-repeat;
    background-size:100% auto;

}
h3
{
 height:80px;
 width:450px;
 font-size: large;
 color:blue;
 background-color:hsla(0, 0%, 80%, 0.5); 
 position: relative;
 top:160px;
 left: 480px;
 letter-spacing: 2px;
 padding-top:30px;
 padding-left: 40px;
}
.list
{
    display: flex;
    margin-left: 100px;
}
.view
{
    color: grey;
}
.right
{
    margin-left: 100px;
    margin-top: 40px;
}
.prod
{
    font-weight: bolder;
    margin-left: 20px;
}
button
{
    color:white;
    background-color: orange;
    width: 120px;
    height: 50px;
    cursor: pointer;
}

.shirt
{
    width:110px;
    height: 105px;
    border: 1px solid grey;
}
img{
    margin-top: 7px;
}
.prodtitle
{
    font-size: 18px;
}
